<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

   </head>

   <body>
      <div class="container" style="text-align: left">
         <h1>URL Shortener Microservice</h1>
         <blockquote>
                User stories:
                <ul>1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
                <ul>2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</ul>
                <ul>3) When I visit that shortened URL, it will redirect me to my original link.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://safe-dash.glitch.me/new/http://www.facebook.com</code><br>
            <code>https://safe-dash.glitch.me/new/www.facebook.com</code>
            <h3>Example output:</h3>
            <code>
                {"originalURL":"http://www.facebook.com","shortURL":"https://safe-dash.glitch.me/9","route":9}
            </code>
        </div>
   </body>

</html>
